#!/bin/bash
set -e

export DEBIAN_FRONTEND=noninteractive
apt-get update
apt-get install -y software-properties-common
add-apt-repository --yes --update ppa:ansible/ansible
apt-get install -y ansible xz-utils

ANSIBLE_HOME="/home/${admin_username}/ansible"

mkdir -p "$${ANSIBLE_HOME}"
chown -R ${admin_username}:${admin_username} "$${ANSIBLE_HOME}"
