#================================================================================
# GLOBAL CONFIG FOR AZURE BLOB STORAGE
#================================================================================
[global]
# --- REPO SETTINGS (AZURE) -----------------------------------------------------
repo1-type=azure
repo1-path=/{{ pgbackrest_stanza }}-backups

repo1-azure-account={{ pgbackrest_azure_account }}
repo1-azure-key={{ pgbackrest_azure_key }}
repo1-azure-container={{ pgbackrest_azure_container }}

repo1-cipher-pass={{ pgbackrest_cipher_pass }}
repo1-cipher-type=aes-256-cbc

repo1-retention-full=3
repo1-retention-diff=1
repo1-bundle=y
repo1-block=y

# --- OTHER SETTINGS -----------------------------------------------------------
backup-standby=prefer
process-max=4
compress-type=zst
start-fast=y

# --- LOGGING SETTINGS ----------------------------------------------------------
log-level-file=detail
log-level-console=info

#================================================================================
# STANZA CONFIGURATION
#================================================================================
[{{ pgbackrest_stanza }}]
pg1-path={{ psql_data_dir }}

{% for host in postgres_hosts | reject('equalto', inventory_hostname) %}
pg{{ loop.index + 1 }}-path={{ psql_data_dir }}
pg{{ loop.index + 1 }}-host={{ hostvars[host]['ansible_default_ipv4']['address'] }}
pg{{ loop.index + 1 }}-host-user=postgres
{% endfor %}
