.idea/
.vscode/
__pycache__/
.vault_pass.txt
*.log
*.tmp

# Ignore Terraform state files
terraform/environments/*/.terraform/
terraform/environments/*/*.tfstate
terraform/environments/*/*.tfstate.backup
terraform/environments/*/*.tfstate.lock.info
terraform/environments/*/*.tfvars
terraform/environments/*/.terraform.lock.hcl
