.idea/
.vscode/
__pycache__/
.vault_pass.txt
*.log
*.tmp

# Ignore Terraform state files
terraform/*/.terraform/
terraform/*/*.tfstate
terraform/*/*.tfstate.backup
terraform/*/*.tfstate.lock
terraform/*/*.tfvars
terraform/*/.terraform.lock.hcl
