.idea/
.vscode/
__pycache__/
.vault_pass.txt
*.log
*.tmp

# Ignore Terraform state files
envs/*/terraform/.terraform
envs/*/terraform/.terraform.lock.hcl
envs/*/terraform/*.tfvars
envs/*/terraform/*.tfstate
envs/*/terraform/*.tfstate.backup
envs/*/terraform/*.tfstate.lock.info
