[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart=/usr/local/bin/node_exporter \
    --web.listen-address=:{{ node_exporter_port }} \
    {{ node_exporter_additional_options }}
SyslogIdentifier=node_exporter
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=yes
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
