scope: {{ patroni_scope }}
namespace: {{ patroni_namespace }}
name: {{ inventory_hostname }}

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false

watchdog:
  mode: off

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_default_ipv4.address }}:8008
  authentication:
    username: {{ patroni_restapi_user }}
    password: {{ patroni_restapi_password }}

log:
  dir: /var/log/patroni
  mode: 0644
  level: INFO
  traceback_level: ERROR
  file_num: 10
  file_size: 100000000
  dateformat: "%Y-%m-%d %H:%M:%S"

etcd3:
  protocol: http
  hosts:
  {% for host in etcd_hosts %}
    - {{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379
  {% endfor %}

postgresql:
  listen: {{ ansible_default_ipv4.address }}:5432
  connect_address: {{ ansible_default_ipv4.address }}:5432
  data_dir: {{ psql_data_dir }}
  bin_dir: {{ psql_bin_dir }}
  authentication:
    superuser:
      username: postgres
      password: {{ psql_superuser_password }}
    replication:
      username: replicator
      password: {{ psql_replication_password }}
  parameters:
    unix_socket_directories: "/var/run/postgresql/"

bootstrap:
  dcs:
    ttl: {{ merged_patroni_dcs_config.ttl }}
    loop_wait: {{ merged_patroni_dcs_config.loop_wait }}
    retry_timeout: {{ merged_patroni_dcs_config.retry_timeout }}
    maximum_lag_on_failover: {{ merged_patroni_dcs_config.maximum_lag_on_failover }}
    postgresql:
      use_pg_rewind: {{ merged_patroni_dcs_config.postgresql.use_pg_rewind }}
      use_slots: {{ merged_patroni_dcs_config.postgresql.use_slots }}
      create_replica_methods:
{% for method in merged_patroni_dcs_config.postgresql.create_replica_methods %}
        - "{{ method }}"
{% endfor %}
      pgbackrest:
        command: "{{ merged_patroni_dcs_config.postgresql.pgbackrest.command }}"
        keep_data: {{ merged_patroni_dcs_config.postgresql.pgbackrest.keep_data }}
        no_params: {{ merged_patroni_dcs_config.postgresql.pgbackrest.no_params }}
      recovery_conf:
        restore_command: "{{ merged_patroni_dcs_config.postgresql.recovery_conf.restore_command }}"
      parameters:
{% for key, value in merged_patroni_dcs_config.postgresql.parameters.items() %}
        {{ key }}: {{ value | to_json }}
{% endfor %}

      pg_hba:
{% for host in postgres_hosts %}
        - host all all {{ hostvars[host]['ansible_default_ipv4']['address'] }}/32 {{ psql_password_encryption }}
        - host replication replicator {{ hostvars[host]['ansible_default_ipv4']['address'] }}/32 {{ psql_password_encryption }}
{% endfor %}
{% for line in merged_patroni_dcs_config.postgresql.pg_hba %}
        - {{ line }}
{% endfor %}
{% for host in allow_connection_hosts %}
        - host all all {{ hostvars[host]['ansible_default_ipv4']['address'] }}/32 {{ psql_password_encryption }}
{% endfor %}
{% if merged_patroni_dcs_config.slots %}
      slots:
{% for slot_name, slot_config in merged_patroni_dcs_config.slots.items() %}
        {{ slot_name }}:
{% for key, value in slot_config.items() %}
    {{ key }}: {{ value | to_json }}
{% endfor %}
{% endfor %}
{% endif %}

  initdb:
    - encoding: UTF8
    - data-checksums
