DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '{{ pgbouncer_auth_user }}') THEN
    CREATE ROLE {{ pgbouncer_auth_user }} LOGIN PASSWORD '{{ pgbouncer_auth_password }}';
  ELSE
    ALTER ROLE {{ pgbouncer_auth_user }} PASSWORD '{{ pgbouncer_auth_password }}';
  END IF;
END
$$;

CREATE OR REPLACE FUNCTION public.lookup_role_password(IN p_usename text, OUT usename text, OUT passwd text)
RETURNS record
LANGUAGE sql SECURITY DEFINER
AS $func$
  SELECT usename, passwd FROM pg_catalog.pg_shadow WHERE usename = p_usename;
$func$;

REVOKE EXECUTE ON FUNCTION public.lookup_role_password(text) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.lookup_role_password(text) TO {{ pgbouncer_auth_user }};
