{% macro render_ini_value(value) -%}
{%- if value is sameas true -%}
1
{%- elif value is sameas false -%}
0
{%- elif value is sequence and value is not string -%}
{{ value | join(',') }}
{%- else -%}
{{ value }}
{%- endif -%}
{%- endmacro %}

{% macro render_database_entry(value) -%}
{%- if value is mapping -%}
{%- for key, item in value.items() -%}
{{ key }}={{ render_ini_value(item) }}{% if not loop.last %} {% endif %}
{%- endfor -%}
{%- else -%}
{{ value }}
{%- endif -%}
{%- endmacro %}
;;; PgBouncer configuration file

[databases]
{% for database_name, database_config in merged_pgbouncer_databases.items() %}
{{ database_name }} = {{ render_database_entry(database_config) }}
{% endfor %}

[users]
{% for user_name, user_config in merged_pgbouncer_users.items() %}
{{ user_name }} = {{ render_database_entry(user_config) }}
{% endfor %}

[pgbouncer]
{% for key, value in merged_pgbouncer_config.items() %}
{{ key }} = {{ render_ini_value(value) }}
{% endfor %}
