[defaults]
inventory = ./inventory/azure/inventory_azure_rm.yml
roles_path = ./roles
interpreter_python = /usr/bin/python3
vault_password_file = .vault_pass.txt
remote_user = oleksandrix
host_key_checking = False
deprecation_warnings=False
