[defaults]
# Dev cluster configuration
inventory = ./inventory/dev/

# Azure cluster configuration
# inventory = ./inventory/azure/

roles_path = ./roles
interpreter_python = /usr/bin/python3
vault_password_file = .vault_pass.txt
inventory_ignore_patterns = databases
host_key_checking = False
deprecation_warnings=False
remote_tmp = /tmp/.ansible-${USER}/tmp
allow_world_readable_tmpfiles = True
